﻿
<div class="container" style="background-color:burlywood">

    <canvas *ngFor="let chart of charts; let i = index" id="mychart{{i}}" #mycharts>{{chart.chart}}</canvas>
</div>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div id="table">
        <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cpf</th>
                    <th>Endereço</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td>{{ client.name }}</td>
                    <td>{{ client.cpf }}</td>
                    <td>{{ client.adresse }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="grafic">
        <canvas *ngFor="let item of dados; let i = index" id="mychart{{i}}">{{item.name}}</canvas>
    </div>
</body>
</html>
<style>
    #table {
        width: 1000%;
        height: 400px;
        margin: 0 auto;
    }

    #grafic {
        width: 1000%;
        height: 400px;
        margin: 0 auto;
    }
</style>
